
.icon-vk:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-folder-open:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-volume-off:before { content: '\e805'; } /* '' */
.icon-volume-up-1:before { content: '\e806'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */